@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

#root {
    height: 100%;
  }

  .header{
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    background-color:#002b1b;
    color: #f0f56c;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .Footer{
    font-family: 'Jost', sans-serif;
    font-weight: lighter;
    background-color: #002b1b;
    color: #95D09B;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid {
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: #033825;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "clock tasks";
    font-size: calc(10px + 2vmin);
    color: #D4FDAB;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .clock{
    background-color: #002b1b;
    margin: 5%;
    border-radius: 10px;
  }
  .tasks{
    margin: 4%;  
  }

  .todo-text{
    color: #f0f56c;
  }
  .text{
    height: 25px;
    border: 2px solid #8BF896 ;
    border-radius: 4px;
  }

.row{
  background-color:  #002b1b;
  padding: .6rem 1.5rem;
  margin: .7rem;
  border-radius: 10px;
  
}
.length-section{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
 
}
.focus{
  margin: 10px;
}
.stretch{
  margin: 10px;
}

.timer {
  font-family: 'Jost', sans-serif;
  font-size: 4rem;
  padding: 2rem;
}
.message{
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: #8BF896;
}
.button1 {
  padding: .6rem 1.5rem;
  margin: .7rem;
  border-radius: 10px;
  text-transform: uppercase;
  
  font-size: 1rem;
  border-style: groove;
  background-color:  #002b1b;
  border: 5px solid #f59c28; 
  color: #f59c28;
}
.button1:hover {
  background-color: #f59c28; 
  border: 5px solid  #002b1b;
  color: #001B11;
}

.button {
  padding: .6rem 1.5rem;
  margin: .7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
  background-color:  #002b1b;

  border: 5px solid #8BF896; 
  color: white;
}
.button3 {
  padding: .4rem 1rem;
  margin: .7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
 font-size: .6rem;
  border-style: groove;
  background-color:  #002b1b;
  
  border: 5px solid #15e8f0; 
  color: white;
}
.button3:hover {
  background-color: #15e8f0; 
  border: 5px solid  #002b1b;
  color: #001B11;
}
.button-task{
  padding: .6rem 1.5rem;
}
.button:hover {
  background-color: #8BF896; 
  border: 5px solid  #002b1b;
  color: #001B11;
}

.button-primary:hover {
  background-color: #F88B9F; 
  border: 5px solid  #002b1b;
}

.button-primary {
  padding: .6rem 1.5rem;
  margin: .7rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8rem;
  border-style: groove;
  background-color:  #002b1b;
  border: 5px solid #F88B9F; 
  color: white;
}

.button-primary-inactive {
  background-color:  #002b1b;
  border: 5px solid #F88B9F; 
  color: white;
}
/*.todo-list{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}*/